<div class="py-5 text-center">
  <h2>Modify person</h2>
</div>

<div class="row g-5">
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">{{person.name}}</h4>
    <form class="needs-validation" novalidate [formGroup]="modifyPerson" (ngSubmit)="onSubmit(modifyPerson.value)">
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">First name</label>
          <input class="form-control"
                 id="firstname"
                 formControlName="firstname"
                 type="text"
                 placeholder={{person.firstname}}>
        </div>

        <div class="col-sm-6">
          <label for="name" class="form-label">Name</label>
          <input class="form-control"
                 id="name"
                 formControlName="name"
                 type="text"
                 placeholder={{person.name}}>
        </div>

        <div class="col-12">
          <label for="city" class="form-label">City</label>
          <input class="form-control"
                 id="city"
                 formControlName="city"
                 type="text"
                 placeholder={{person.city}}>
        </div>

        <div class="col-12">
          <label for="phone" class="form-label">Phone</label>
          <input class="form-control"
                 id="phone"
                 formControlName="phone"
                 type="text"
                 placeholder={{person.phone}}>
        </div>

        <div class="col-12">
          <label for="company" class="form-label">Company</label>
          <select  class="form-select"
                   id="company">
            <option value="">{{person.company.name}} ({{person.company.city}})</option>
            <option *ngFor="let companie of companies">{{companie.name}} ({{companie.city}})</option>
          </select>
        </div>
      </div>
      <br/>
      <button class="btn btn-outline-dark btn-lg w-100" type="submit">Save</button>
    </form>
  </div>
</div>
