<body class="d-flex h-100 text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main class="px-3">
    <h1>Welcome</h1>
    <div class="container px-4 py-5" id="featured-3">
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
          <div class="feature-icon">
            <img src="https://img.icons8.com/external-tal-revivo-shadow-tal-revivo/50/000000/external-angular-a-typescript-based-open-source-web-application-framework-logo-shadow-tal-revivo.png"/>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="https://img.icons8.com/color/48/000000/html-5--v1.png"/>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="https://img.icons8.com/color/48/000000/css3.png"/>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="https://img.icons8.com/color/50/000000/spring-logo.png"/>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="https://img.icons8.com/color/48/000000/java-coffee-cup-logo--v1.png"/>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="https://img.icons8.com/color/48/000000/docker.png"/>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="https://img.icons8.com/color/48/000000/intellij-idea.png"/>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="https://img.icons8.com/color/48/000000/webstorm.png"/>
          </div>
        </div>
        <div class="feature col">
          <div class="feature-icon">
            <img src="https://img.icons8.com/ios/50/000000/database.png"/>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>



</body>
