<div class="py-5 text-center">
  <h2>Add person</h2>
</div>

<div class="row g-5">
  <div class="col-md-7 col-lg-8">
    <h4 class="mb-3">Person</h4>
    <form class="needs-validation" novalidate [formGroup]="createPerson" (ngSubmit)="onSubmit(createPerson.value)">
      <div class="row g-3">
        <div class="col-sm-6">
          <label for="firstName" class="form-label">First name</label>
          <input class="form-control"
                 id="firstName"
                 formControlName="firstName"
                 type="text"
                 placeholder="FirstName">
        </div>

        <div class="col-sm-6">
          <label for="name" class="form-label">Name</label>
          <input class="form-control"
                 id="name"
                 formControlName="name"
                 type="text"
                 placeholder="Name">
        </div>

        <div class="col-12">
          <label for="city" class="form-label">City</label>
          <input class="form-control"
                 id="city"
                 formControlName="city"
                 type="text"
                 placeholder="City">
        </div>

        <div class="col-12">
          <label for="phone" class="form-label">Phone</label>
          <input class="form-control"
                 id="phone"
                 formControlName="phone"
                 type="text"
                 placeholder="Phone">
        </div>

        <div class="col-12">
          <label for="company" class="form-label">Company</label>
          <select  class="form-select"
                   id="company">
            <option value="">Choose...</option>
            <option *ngFor="let companie of companies">{{companie.name}} ({{companie.city}})</option>
          </select>
        </div>
      </div>
      <br/>
      <button class="btn btn-outline-dark btn-lg w-100" type="submit">Add</button>
    </form>
  </div>
</div>
