<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="Mortreux Billy">
  <title>Annuaire</title>
</head>
<body style="height: 100%">

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">Company Directory</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-dark btn-lg w-30 text-white-50" type="submit">Recherche</button>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">
              <span data-feather="home"></span>
              Annuaire
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="addCompany">
              <span data-feather="file"></span>
              Ajout d'une entreprise
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="addPersons">
              <span data-feather="shopping-cart"></span>
              Ajout d'une personne
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<div class="container">
  <footer class="py-3 my-4" style="position:absolute;bottom:0;width:90%;padding-top:50px;height:50px;">
    <p class="text-center text-muted">&copy; 2021 Mortreux Billy</p>
  </footer>
</div>
</body>
</html>
